<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE-RAW" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-HIGHLIGHT-ANSI" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%boldMagenta(%msg) %n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-MESSAGE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-7([%level]) %X{repositoryFilePath} :: %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-MESSAGE-ANSI" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%highlight(%-7([%level])) %cyan(%X{repositoryFilePath}) :: %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="HIGHLIGHT" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE-HIGHLIGHT-ANSI"/>
    </logger>

    <logger name="MESSAGE" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE-MESSAGE"/>
    </logger>

    <logger name="MESSAGE-ANSI" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE-MESSAGE-ANSI"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE-RAW" />
    </root>

</configuration>