# https://projectlombok.org/features/configuration

config.stopBubbling = false

# This allows us to notify Jacoco static code analysis to skip scanning generated code
lombok.addLombokGeneratedAnnotation = false

# Constructor properties are useful for deserialization of objects with Jackson
lombok.anyConstructor.addConstructorProperties = false