name: Maven CI
on:
  push:
    branches:
      - main
      - 'releases/[1-9]+.[0-9]+.x'
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'attribute.txt'
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'INDIVIDUAL_CONTRIBUTOR_LICENSE.md'
      - 'LICENSE'
      - 'NOTICE.txt'
      - 'OSSMETADATA'
      - 'install-*.sh'
      - '**/README.md'
  pull_request:
    branches:
      - main
      - 'releases/[1-9]+.[0-9]+.x'
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'attribute.txt'
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'INDIVIDUAL_CONTRIBUTOR_LICENSE.md'
      - 'LICENSE'
      - 'NOTICE.txt'
      - 'OSSMETADATA'
      - 'install-*.sh'
      - '**/README.md'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['8', '11']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Setup Java and Maven
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
          server-id: ossrh
          server-username: SONATYPE_USERNAME
          server-password: SONATYPE_PASSWORD
          gpg-private-key: ${{ secrets.SONATYPE_GPG_PRIVATE_KEY }}
          gpg-passphrase: SONATYPE_GPG_PASSPHRASE
      - name: Set Maven Project Version
        shell: bash
        run: |
          BUILD_VERSION=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout | tail -1 | tr -d '\r\n')
          [[ "$BUILD_VERSION" != *"-SNAPSHOT" ]] && BUILD_VERSION="${BUILD_VERSION}-SNAPSHOT" && ./mvnw --batch-mode versions:set -DnewVersion=$BUILD_VERSION || true
      - name: Build Maven Project
        if: success() && (github.event_name == 'pull_request' || (github.event_name == 'push' && matrix.java != '8'))
        run: ./mvnw --batch-mode install -D ci.build
      - name: Build Maven Project and Deploy Snapshot
        if: success() && (github.event_name == 'push' && matrix.java == '8')
        run: ./mvnw --batch-mode deploy -D ci.deploy -D ci.snapshot
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_GPG_PASSPHRASE: ${{ secrets.SONATYPE_GPG_PASSPHRASE }}
      - name: Archive Native Image JAR
        if: success()
        uses: actions/upload-artifact@v2
        with:
          name: native-image-jar-${{ matrix.java }}
          path: exec/target/*-native-image.jar
      - name: Aggregate Coverage Reports
        id: aggregate_coverage_reports
        if: success()
        run: echo ::set-output name=JACOCO_XML_REPORT_PATHS::$(find . -name "jacoco.xml" -printf '%P\n' | tr '\r\n' ',')
      - name: Analyze with SonarCloud
        if: success() && (github.event_name == 'push' && matrix.java == '11')
        continue-on-error: true
        run: ./mvnw --batch-mode sonar:sonar -Dsonar.login=$SONAR_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
      - name: Publish Test Report
        if: always()
        continue-on-error: true
        uses: scacap/action-surefire-report@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: '**/target/surefire-reports/TEST-*.xml,**/target/failsafe-reports/TEST-*.xml'
  build-mac-native-image:
    runs-on: macos-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: native-image-jar-8
          path: build
      - name: Rename Native Image JAR
        working-directory: build
        run: mv *.jar native-image.jar
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Setup GraalVM
        uses: DeLaGuardo/setup-graalvm@master
        with:
          graalvm-version: 20.1.0.java8
      - name: Setup GraalVM Native Image Tool
        run: gu install native-image
      - name: Build Mac Native Image
        if: success()
        working-directory: build
        run: native-image -cp native-image.jar -H:+ReportExceptionStackTraces --report-unsupported-elements-at-runtime --no-fallback
      - name: Archive Mac Native Image
        if: success()
        uses: actions/upload-artifact@v2
        with:
          name: mac-native-image
          path: build/sourcehawk
  build-windows-native-image:
    runs-on: windows-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: native-image-jar-11
          path: build
      - name: Rename Native Image JAR
        working-directory: build
        run: ren *.jar native-image.jar
      - name: Setup GraalVM Native Image and Visual C Build Tools
        run: |
          Invoke-RestMethod -Uri https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-20.2.0/graalvm-ce-java11-windows-amd64-20.2.0.zip -OutFile 'graal.zip'
          Expand-Archive -path 'graal.zip' -destinationpath '.'
          graalvm-ce-java11-20.2.0\bin\gu.cmd install native-image
          choco install visualstudio2017-workload-vctools
      - name: Build Windows Native Image
        if: success()
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Auxiliary\Build\vcvars64.bat"
          graalvm-ce-java11-20.2.0\bin\native-image -cp .\build\native-image.jar -H:+ReportExceptionStackTraces --report-unsupported-elements-at-runtime
        env:
          JAVA_HOME: ./graalvm-ce-java11-20.2.0
      - name: Archive Windows Native Image
        if: success()
        uses: actions/upload-artifact@v2
        with:
          name: windows-native-image
          path: sourcehawk.exe